<!DOCTYPE html>
<html lang="cs">
<head>
    <meta content="text/xhtml; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.6.3/less.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="content">
    <div class="picture-box"><img src="../birds/cap-bily.jpg"></div>
</div>
<div class="controls">
    <div class="status-control">
        <div class="progress-bar"><div class="progress"></div></div>
        <div class="progress-label">10/15</div>
        <div class="help">Nápověda</div>
    </div>
    <div class="box-control">
        <table class="box-table" align="center">
            <tbody>
                <tr class="box box-effects">
                    <td class="box-content-label">A</td>
                    <td class="box-content">Lehká obtížnost znalostního testu. Obrázkový kvíz s výběrem z více možností a textovou nápovědou. Střední obtížnost znalostního testu. Poznávání správného druhu z fotografií ptactva s textovou nápovědou.neco</td>
                </tr>
                <tr><th></th></tr>
                <tr class="box box-effects">
                    <td class="box-content-label">B</td>
                    <td class="box-content">Střední obtížnost znalostního testu. Poznávání správného druhu z fotografií ptactva s textovou nápovědou.Lehká obtížnost znalostního testu. Obrázkový kvíz s výběrem z více možností a textovou nápovědou.</td>
                </tr>
                <tr><th></th></tr>
                <tr class="box box-effects">
                    <td class="box-content-label">C</td>
                    <td class="box-content">Obrázkový kvíz s výběrem z více možností a textovou nápovědou. Střední obtížnost znalostního testu. Poznávání správného druhu z fotografií ptactva s textovou nápovědou.</td>
                </tr>
                <tr><th></th></tr>
                <tr class="box box-effects">
                    <td class="box-content-label">C</td>
                    <td class="box-content">Obrázkový kvíz s výběrem z více možností a textovou nápovědou. Střední obtížnost znalostního testu. Poznávání správného druhu z fotografií ptactva s textovou nápovědou.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<html>