<!DOCTYPE html>
<html lang="cs">
<head>
    <meta content="text/xhtml; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.6.3/less.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        // Step 1: Select the style element and change it to text/less
        $('head style[type="text/css"]').attr('type','text/less');
        // Step 2: Set development mode to see errors
        less.env = 'development';
        // Step 3: Tell Less to refresh the styles
        less.refreshStyles();
    </script>
</head>
<body>
<div class="content">
    <div class="picture-box"><img src=""></div>
    <div class="progress"></div>
</div>
<div class="controls">
    <div class="box-conrol">
        <div class="box box-effects">
            <div class="answer-label">A</div>
            <div class="answer">Lehká obtížnost znalostního testu. Obrázkový kvíz s výběrem z více možností a textovou nápovědou. Střední obtížnost znalostního testu. Poznávání správného druhu
                z fotografií ptactva s textovou nápovědou.neco
            </div>
        </div>
        <div class="box box-effects">
            <div class="answer-label">B</div>
            <div class="answer">Střední obtížnost znalostního testu. Poznávání správného druhu z fotografií ptactva s textovou nápovědou.Lehká obtížnost znalostního testu. Obrázkový kvíz s výběrem z více možností a textovou nápovědou.
            </div>
        </div>
        <div class="box box-effects">
            <div class="answer-label">C</div>
            <div class="answer">Obrázkový kvíz s výběrem z více možností a textovou nápovědou. Střední obtížnost znalostního testu. Poznávání správného druhu
                z fotografií ptactva s textovou nápovědou.
            </div>
        </div>
    </div>
</div>
<div class="help">?</div>
</body>
<html>